@import './reset.css';

* {
  font-family: 'Noto Sans KR', sans-serif;
}

// HIDDEN
.hidden {
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

// 레이아웃
.layout-wrapper {
  margin: 0 auto;
  max-width: 1060px;
}

// MAIN
.main {
  margin: 2rem auto;
  padding: 41px 29px 31px;
  background-color: #f2f2f2;
  border: 1.5px solid #bdbdbd;
  border-radius: 15px;

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    &::after {
      margin: 37px auto 0;
      display: block;
      max-width: 650px;
      content: '';
      text-align: center;
      border-bottom: 2px solid #bdbdbd;
    }
  }

  // NAV
  .cinema__nav {
    margin-top: 28px;

    .nav__list {
      margin: 0 345px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__link {
        color: #828282;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        // background-color: red;
      }
      .nav__link.nav__selected {
        color: #000;
        font-weight: 900;
      }
    }
  }

  // SECTION
  .moive__container {
    padding: 26px 27px 30px;
    margin-top: 28px;
    background-color: #fff;
    border: 1.5px solid #bdbdbd;
    border-radius: 15px;

    .movie__list {
      display: flex;
      flex-wrap: wrap;
      gap: 1.4rem;

      .moive__item {
        position: relative;

        flex: 1 1 calc(25% - 2.8rem);
        border-radius: 15px;
        border: 1px solid #bdbdbd;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;

        .movie__container {
          min-width: 0;
          padding: 19px 20px 30px;

          .movie__poster {
            margin-bottom: 11px;
            width: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }

          .movie__title {
            display: inline-block;
            font-weight: 900;
            font-size: 16px;
            line-height: 23px;

            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .movie__details {
            margin: 12px 0 18px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .details__key {
              margin-bottom: 5px;
              flex: 1 0 50%;
              font-weight: 400;
              font-size: 13px;
              line-height: 19px;
              color: #828282;
              white-space: nowrap;

              &:nth-child(2) {
                text-align: right;
              }

              .details__value {
                margin-left: 5px;
                color: #000000;

                &.rating-img::before {
                  margin-right: 4px;
                  content: '';
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  background: url('./assets/images/별점이미지.png') no-repeat
                    0px 0px;
                  vertical-align: middle;
                }
              }
            }
          }
        }

        .movie__btn {
          position: absolute;
          bottom: 0;
          left: 0;
          //
          display: flex;
          width: 100%;

          .movie__booking-btn,
          .movie__preview_btn {
            padding: 9px 0 12px;
            flex: 1 0 auto;

            background-color: red;
            height: 100%;
            color: #000000;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            border-top: 1px solid #bdbdbd;
            background-color: #f2f2f2;
            cursor: pointer;
          }

          .movie__booking-btn {
            border-right: 1px solid #bdbdbd;
          }

          .movie__preview_btn::before {
            margin-right: 4px;
            content: '';
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url('./assets/images/아이콘_재생.png') no-repeat 0px 0px;
            background-size: contain;

            vertical-align: middle;
            margin-top: -2px;
          }
        }
      }
    }
  }
}
