/* Mixin */
@mixin font-roboto($color, $weight, $size, $line-height) {
  font-family: 'Roboto', sans-serif;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: ($line-height / $size);
}

@mixin font-notoKR($color, $weight, $size, $line-height) {
  font-family: 'Noto Sans KR', sans-serif;
  color: $color;
  font-weight: $weight;
  font-size: $size;
  line-height: ($line-height / $size);
}
