.footer{
  padding: 53px 0 38px;
  width: 100%;
  background-color: #F2F2F2;

  .footer__wrapper{
    padding: 0 100px;
    .footer__title{
      margin-bottom: 36px;
      padding-bottom: 42px;
      display: flex;
      justify-content: space-between;
      
      border-bottom: 1px solid #C4C4C4;
      

      .footer__company{
        @include font-roboto(#000000, 700, 22px, 26px);
      }

      .footer__sns{
        display: flex;
        .footer__sns-icon {
          margin-left: 25px;
          // float: right;
        }
        .footer__sns-icon img{
          width: 24px;
          height: 24px;
        }

      }
    }

    .footer__info{
      display: flex;
      justify-content: space-between;
      @include font-notoKR(#4F4F4F, 700, 14px, 20px);

      .footer__info-content{
        display: flex;

        span{
          font-weight: 400;
        }
      }
    }
  }
}