

body, h1, h2, button, ul, li, dl, dt, dd, p, a, footer, address{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

address{
  font-style: normal;
}