@charset "UTF-8";
body, h1, h2, button, ul, li, dl, dt, dd, p, a, footer, address {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

address {
  font-style: normal;
}

/* color */
/* Mixin */
/* color */
/* Mixin */
.footer {
  width: 100%;
  background-color: #F2F2F2;
}

.footer .footer__wrapper {
  padding: 0 366px;
}

.footer .footer__wrapper .footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__wrapper .footer__title .footer__company {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.footer .footer__wrapper .footer__title .footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__wrapper .footer__title .footer__sns .footer__sns-icon {
  margin-left: 25px;
}

.footer .footer__wrapper .footer__title .footer__sns .footer__sns-icon img {
  width: 24px;
  height: 24px;
}

/* screen out */
.screen_out {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* main 시작 */
.main {
  padding: 86px 0 135px;
  /* cinema 시작 */
  /* cinema 끝 */
  /* movie 시작*/
  /* movie 시작*/
}

.main .cinema {
  padding: 41px 28px 31px 29px;
  margin: 0 auto;
  width: 100%;
  max-width: 1060px;
  background-color: #F2F2F2;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
  /* cinema__nav 시작 */
}

.main .cinema .cinema__title {
  padding-bottom: 37px;
  margin: 0 auto 28px;
  display: block;
  width: 650px;
  text-align: center;
  border-bottom: 2px solid #BDBDBD;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166666666666667;
  font-family: 'Roboto', sans-serif;
}

.main .cinema .cinema__title::after {
  content: " ";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #BDBDBD;
}

.main .cinema .cinema__nav {
  margin-bottom: 28px;
}

.main .cinema .cinema__nav .cinema__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.main .cinema .cinema__nav .cinema__category .cinema__category-list {
  float: left;
}

.main .cinema .cinema__nav .cinema__category .cinema__category-list .cinema__type {
  font-family: 'Roboto', sans-serif;
  color: #828282;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.main .cinema .cinema__nav .cinema__category .cinema__category-list .cinema__type--clicked {
  color: #000;
  font-weight: 900;
}

.main .cinema .cinema__nav .cinema__category .cinema__category-list + li {
  margin-left: 60px;
}

.main .movie {
  font-family: 'Noto Sans KR', sans-serif;
}

.main .movie .movie__title {
  clear: left;
}

.main .movie .movie__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 26px 27px 30px;
  background-color: #fff;
  border: 2px solid #BDBDBD;
  border-radius: 15px;
}

.main .movie .movie__list .movie__item {
  margin-bottom: 24px;
  width: 220px;
  overflow: hidden;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.main .movie .movie__list .movie__item .movie__info {
  padding: 19px 20px 18px;
}

.main .movie .movie__list .movie__item .movie__info .movie__img {
  margin-bottom: 11px;
  width: 180px;
  height: 250px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .movie .movie__list .movie__item .movie__info .movie__name {
  margin-bottom: 12px;
  display: block;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.4375;
}

.main .movie .movie__list .movie__item .movie__info .movie__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__description-list {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.461538461538462;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__description-list .movie__info-term {
  margin-right: 5px;
  color: #828282;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.461538461538462;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__description-list .movie__info-detail {
  color: #000;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__description-list .movie--rating::before {
  margin-right: 4px;
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/별점이미지.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__description-list:last-child {
  margin: 0;
}

.main .movie .movie__list .movie__item .movie__info .movie__description .movie__gathering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .movie .movie__list .movie__item .movie__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  width: 100%;
  height: 41px;
  border-top: 1px solid #BDBDBD;
}

.main .movie .movie__list .movie__item .movie__buttons .movie__book-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  height: 100%;
  border-right: 1px solid #BDBDBD;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571428571429;
}

.main .movie .movie__list .movie__item .movie__buttons .movie__trailer-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 50%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571428571429;
}

.main .movie .movie__list .movie__item .movie__buttons .movie__trailer-button::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: center;
  background-image: url("../images/아이콘_재생.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* main 끝 */
/*# sourceMappingURL=style.css.map */